{% extends "base.html" %}

{% block title %}Редактирование профиля{% endblock %}

{% block content %}
<div class="col d-flex justify-content-center">
  <div class="card" style="width: 40rem;">
    <div class="card-header">Редактирование профиля</div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a class="btn btn-link" href="{% url 'blog:profile' profile_user.username %}">Отмена</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
