{% extends "base.html" %}
{% block title %}
  Страница пользователя {{ profile_user.username }}
{% endblock %}
{% block content %}
  <h1 class="mb-5 text-center">Страница пользователя {{ profile_user.username }}</h1>
  <small>
    <ul class="list-group list-group-horizontal justify-content-center mb-3">
      <li class="list-group-item text-muted">
        Имя пользователя:
        {% if profile_user.get_full_name %}{{ profile_user.get_full_name }}{% else %}не указано{% endif %}
      </li>
      <li class="list-group-item text-muted">Регистрация: {{ profile_user.date_joined }}</li>
      <li class="list-group-item text-muted">Роль: {% if profile_user.is_staff %}Админ{% else %}Пользователь{% endif %}</li>
    </ul>
    <ul class="list-group list-group-horizontal justify-content-center">
      {% if request.user.is_authenticated and request.user == profile_user %}
        <a class="btn btn-sm text-muted" href="{% url 'blog:profile_edit' profile_user.username %}">Редактировать профиль</a>
        <a class="btn btn-sm text-muted" href="{% url 'password_change' %}">Изменить пароль</a>
      {% endif %}
    </ul>
  </small>
  <br>
  <h3 class="mb-5 text-center">Публикации пользователя</h3>
  {% for post in page_obj.object_list %}
    <article class="mb-5">
      {% include "includes/post_card.html" with post=post %}
    </article>
  {% empty %}
    <p class="text-center text-muted">Пока нет публикаций.</p>
  {% endfor %}
  {% include "includes/paginator.html" %}
{% endblock %}
